:root{
    --grey-white: #F2EFE7;
    --light-blue: #9ACBD0;
    --blue: #48A6A7;
    --dark-blue: #006A71;
}

*{
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    text-align: center;
    font-size: large;
}

header{
    background-color: var(--dark-blue);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    width: 100%;
    color: var(--grey-white);
}


body{
    margin: 0;
    background-color: var(--grey-white);
    display: flex;
    flex-direction: column;
    align-items: center;
}

img{
    width: 20rem;
    border-radius: 2rem;
    padding-top: 1rem;
}

#links{
    display: flex;
}

#links a{
    margin-right: 1rem;
    background-color: var(--blue);
    color: var(--grey-white);
    font-size: larger;
    padding: 1rem;
    width: 7rem;
    text-decoration: none;
    text-align: center;
    border-radius: 1.5REM;
}

#links a:hover{
    background-color: var(--light-blue);
}

ol, ul{
    background-color: var(--light-blue);
    width: 50vw;
    border-radius: 1rem;
    align-items: center;
    justify-content: center;
}

li{
    padding: 1rem;
    font-size: larger;
    list-style: none;
    border: solid, var(--dark-blue);
    border-top: none;
    border-radius: 0 1rem 1rem 0;
}

#option-list{
    display: flex;
    padding: 0;
    width: 100%;
}

#option{
    padding: 0;
    border: none;
}

footer{
    justify-content: flex-end;
}

@media only screen 
and (max-device-width: 700px){
    #links{
        display: flex;
        flex-direction: column;
    }

    #links a{
        margin: 1rem;
        padding-left: 3rem;
        padding-right: 3rem;
    }

    ol, ul{
        width: 80vw;
    }
    
    img{
        width: 50vw;
    }

    #option-list{
        display: flex;
        padding: 0;
        width: 100%;
    }
    
    #option{
        padding: 0;
        border: none;
    }
 }